<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="renderer" content="webkit" />
<title>考勤系统-登录</title>
<link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico" />
<link rel="stylesheet" type="text/css" href="css/css.css" />
<link rel="stylesheet" type="text/css" href="css/style.css" />
<script type="text/javascript" src="js/jquery-1.10.1.min.js"></script>
<script type="text/javascript" src="js/jquery.infieldlabel.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>
<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>  
<script type="text/javascript" src="js/html5.js"></script>
<script type="text/javascript" src="js/excanvas.js"></script>
<![endif]-->
</head>
<body class="page-user">
<div class="login-wrap">
    <div class="logo"><img src="img/logo.png" alt="" /></div>
    <div class="login-form">
        <div class="caption f-cf"><a href="#" class="lnk">注册帐号</a><strong class="tit">登录</strong></div>
        <div class="item item-user f-cf">
            <div class="label">用户名</div>
            <div class="zoom">
                <div class="input">
                    <input type="text" value="" class="u-text" />
                </div>
            </div>
        </div>
        <div class="item item-pwd f-cf">
            <div class="label">密码</div>
            <div class="zoom">
                <div class="input">
                    <input type="password" value="" class="u-text" />
                </div>
            </div>
        </div>
        <div class="button f-cf"> <span class="u-span">
            <input type="checkbox" value="" id="at" />
            <label for="at">自动登录</label>
            <a href="#">忘记密码?</a></span>
            <input type="button" value="登 录" class="u-button" />
        </div>
    </div>
</div>
</body>
</html>
