<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="renderer" content="webkit" />
<title>考勤系统-工资录入</title>
<link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico" />
<link rel="stylesheet" type="text/css" href="css/css.css" />
<link rel="stylesheet" type="text/css" href="css/style.css" />
<script type="text/javascript" src="js/jquery-1.10.1.min.js"></script>
<script type="text/javascript" src="js/jquery.infieldlabel.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>
<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>  
<script type="text/javascript" src="js/html5.js"></script>
<script type="text/javascript" src="js/excanvas.js"></script>
<![endif]-->
</head>
<body>
<div class="page-header f-cf">
    <div class="date">2015年 03月 20日 16:20</div>
    <div class="logo"><a href="#"><img src="img/logo.png" alt="" /></a></div>
</div>
<div class="page-content f-cf">
    <div class="page-side f-cf">
        <ul class="side-menu">
            <li> <a href="javascript:void(0);"><i class="icon icon-user"></i>人力资源<i class="arrow"></i></a>
                <ul class="side-menu-sub">
                    <li><a href="#">职工台账</a></li>
                    <li><a href="#">证件管理</a></li>
                </ul>
            </li>
            <li> <a href="javascript:void(0);"><i class="icon icon-list"></i>工资管理<i class="arrow"></i></a>
                <ul class="side-menu-sub">
                    <li><a href="#">工资录入</a></li>
                    <li><a href="#">工资统计</a></li>
                    <li><a href="#">工资发放</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="page-main f-cf">
        <div class="form-manage f-cf">
            <div class="tab-nav f-cf"> <a href="#" class="delete">删除</a>
                <ul class="nav">
                    <li><a href="#" class="z-active">日工</a></li>
                    <li><a href="#">包工</a></li>
                    <li><a href="#">借支</a></li>
                    <li><a href="#">奖金</a></li>
                    <li><a href="#">补贴</a></li>
                    <li><a href="#">罚款</a></li>
                </ul>
            </div>
            <div class="m-wrap f-cf">
                <div class="group f-cf">
                    <div class="item">
                        <div class="u-select2">
                            <select class="slt slt-1">
                                <option>2015</option>
                                <option>2016</option>
                            </select>
                            <select class="slt slt-2">
                                <option>1</option>
                                <option>2</option>
                            </select>
                            <select class="slt slt-3">
                                <option>1</option>
                                <option>2</option>
                            </select>
                        </div>
                        <div class="u-search">
                            <input type="button" class="btn" value="" />
                            <input type="text" class="txt" value="" id="txt-search" />
                            <label for="txt-search" class="lab">姓名检索</label>
                        </div>
                    </div>
                </div>
                <div class="group f-cf">
                    <div class="item">
                        <div class="u-txt">工作内容：</div>
                        <div class="u-select" style="width:272px;">
                            <h3 class="value"><span class="val">工作内容</span><i class="arrow"></i></h3>
                            <ul class="list">
                                <li>工作内容1</li>
                                <li>工作内容2</li>
                            </ul>
                        </div>
                        <div class="u-txt">部　　位：</div>
                        <div class="u-select" style="width:232px;">
                            <h3 class="value"><span class="val">部　　位</span><i class="arrow"></i></h3>
                            <ul class="list">
                                <li>部 位1</li>
                                <li>部 位2</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="group f-cf">
                    <div class="item">
                        <div class="u-txt">备　　注：</div>
                        <div class="u-textarea">
                            <textarea class="txta"></textarea>
                        </div>
                    </div>
                </div>
                <div class="group f-cf">
                    <div class="item">
                        <div class="u-txt">总　　计：</div>
                        <div class="u-input">
                            <input type="text" class="txt" />
                        </div>
                        <a href="javascript:void(0);" class="u-button u-button-2">确 定</a> </div>
                </div>
            </div>
        </div>
        <div class="f-cf">
            <ul class="input-list">
                <li>
                    <div class="head">
                        <div class="item">
                            <input type="checkbox" class="u-checkbox" value="" />
                            <label class="u-label-checkbox">木工：张三</label>
                        </div>
                    </div>
                    <div class="body">
                        <div class="item">工分：
                            <input type="text" value="" class="u-text" />
                            天</div>
                        <div class="item">金额：
                            <input type="text" value="" class="u-text" />
                            元</div>
                    </div>
                </li>
                <li>
                    <div class="head">
                        <div class="item">
                            <input type="checkbox" class="u-checkbox" value="" />
                            <label class="u-label-checkbox">木工：张三</label>
                        </div>
                    </div>
                    <div class="body">
                        <div class="item">工分：
                            <input type="text" value="" class="u-text" />
                            天</div>
                        <div class="item">金额：
                            <input type="text" value="" class="u-text" />
                            元</div>
                    </div>
                </li>
                <li>
                    <div class="head">
                        <div class="item">
                            <input type="checkbox" class="u-checkbox" value="" />
                            <label class="u-label-checkbox">木工：张三</label>
                        </div>
                    </div>
                    <div class="body">
                        <div class="item">工分：
                            <input type="text" value="" class="u-text" />
                            天</div>
                        <div class="item">金额：
                            <input type="text" value="" class="u-text" />
                            元</div>
                    </div>
                </li>
                <li>
                    <div class="head">
                        <div class="item">
                            <input type="checkbox" class="u-checkbox" value="" />
                            <label class="u-label-checkbox">木工：张三</label>
                        </div>
                    </div>
                    <div class="body">
                        <div class="item">工分：
                            <input type="text" value="" class="u-text" />
                            天</div>
                        <div class="item">金额：
                            <input type="text" value="" class="u-text" />
                            元</div>
                    </div>
                </li>
                <li>
                    <div class="head">
                        <div class="item">
                            <input type="checkbox" class="u-checkbox" value="" />
                            <label class="u-label-checkbox">木工：张三</label>
                        </div>
                    </div>
                    <div class="body">
                        <div class="item">工分：
                            <input type="text" value="" class="u-text" />
                            天</div>
                        <div class="item">金额：
                            <input type="text" value="" class="u-text" />
                            元</div>
                    </div>
                </li>
                <li>
                    <div class="head">
                        <div class="item">
                            <input type="checkbox" class="u-checkbox" value="" />
                            <label class="u-label-checkbox">木工：张三</label>
                        </div>
                    </div>
                    <div class="body">
                        <div class="item">工分：
                            <input type="text" value="" class="u-text" />
                            天</div>
                        <div class="item">金额：
                            <input type="text" value="" class="u-text" />
                            元</div>
                    </div>
                </li>
                <li>
                    <div class="head">
                        <div class="item">
                            <input type="checkbox" class="u-checkbox" value="" />
                            <label class="u-label-checkbox">木工：张三</label>
                        </div>
                    </div>
                    <div class="body">
                        <div class="item">工分：
                            <input type="text" value="" class="u-text" />
                            天</div>
                        <div class="item">金额：
                            <input type="text" value="" class="u-text" />
                            元</div>
                    </div>
                </li>
                <li>
                    <div class="head">
                        <div class="item">
                            <input type="checkbox" class="u-checkbox" value="" />
                            <label class="u-label-checkbox">木工：张三</label>
                        </div>
                    </div>
                    <div class="body">
                        <div class="item">工分：
                            <input type="text" value="" class="u-text" />
                            天</div>
                        <div class="item">金额：
                            <input type="text" value="" class="u-text" />
                            元</div>
                    </div>
                </li>
                <li>
                    <div class="head">
                        <div class="item">
                            <input type="checkbox" class="u-checkbox" value="" />
                            <label class="u-label-checkbox">木工：张三</label>
                        </div>
                    </div>
                    <div class="body">
                        <div class="item">工分：
                            <input type="text" value="" class="u-text" />
                            天</div>
                        <div class="item">金额：
                            <input type="text" value="" class="u-text" />
                            元</div>
                    </div>
                </li>
                <li>
                    <div class="head">
                        <div class="item">
                            <input type="checkbox" class="u-checkbox" value="" />
                            <label class="u-label-checkbox">木工：张三</label>
                        </div>
                    </div>
                    <div class="body">
                        <div class="item">工分：
                            <input type="text" value="" class="u-text" />
                            天</div>
                        <div class="item">金额：
                            <input type="text" value="" class="u-text" />
                            元</div>
                    </div>
                </li>
                <li>
                    <div class="head">
                        <div class="item">
                            <input type="checkbox" class="u-checkbox" value="" />
                            <label class="u-label-checkbox">木工：张三</label>
                        </div>
                    </div>
                    <div class="body">
                        <div class="item">工分：
                            <input type="text" value="" class="u-text" />
                            天</div>
                        <div class="item">金额：
                            <input type="text" value="" class="u-text" />
                            元</div>
                    </div>
                </li>
                <li>
                    <div class="head">
                        <div class="item">
                            <input type="checkbox" class="u-checkbox" value="" />
                            <label class="u-label-checkbox">木工：张三</label>
                        </div>
                    </div>
                    <div class="body">
                        <div class="item">工分：
                            <input type="text" value="" class="u-text" />
                            天</div>
                        <div class="item">金额：
                            <input type="text" value="" class="u-text" />
                            元</div>
                    </div>
                </li>
                <li>
                    <div class="head">
                        <div class="item">
                            <input type="checkbox" class="u-checkbox" value="" />
                            <label class="u-label-checkbox">木工：张三</label>
                        </div>
                    </div>
                    <div class="body">
                        <div class="item">工分：
                            <input type="text" value="" class="u-text" />
                            天</div>
                        <div class="item">金额：
                            <input type="text" value="" class="u-text" />
                            元</div>
                    </div>
                </li>
                <li>
                    <div class="head">
                        <div class="item">
                            <input type="checkbox" class="u-checkbox" value="" />
                            <label class="u-label-checkbox">木工：张三</label>
                        </div>
                    </div>
                    <div class="body">
                        <div class="item">工分：
                            <input type="text" value="" class="u-text" />
                            天</div>
                        <div class="item">金额：
                            <input type="text" value="" class="u-text" />
                            元</div>
                    </div>
                </li>
                <li>
                    <div class="head">
                        <div class="item">
                            <input type="checkbox" class="u-checkbox" value="" />
                            <label class="u-label-checkbox">木工：张三</label>
                        </div>
                    </div>
                    <div class="body">
                        <div class="item">工分：
                            <input type="text" value="" class="u-text" />
                            天</div>
                        <div class="item">金额：
                            <input type="text" value="" class="u-text" />
                            元</div>
                    </div>
                </li>
                <li>
                    <div class="head">
                        <div class="item">
                            <input type="checkbox" class="u-checkbox" value="" />
                            <label class="u-label-checkbox">木工：张三</label>
                        </div>
                    </div>
                    <div class="body">
                        <div class="item">工分：
                            <input type="text" value="" class="u-text" />
                            天</div>
                        <div class="item">金额：
                            <input type="text" value="" class="u-text" />
                            元</div>
                    </div>
                </li>
                <li>
                    <div class="head">
                        <div class="item">
                            <input type="checkbox" class="u-checkbox" value="" />
                            <label class="u-label-checkbox">木工：张三</label>
                        </div>
                    </div>
                    <div class="body">
                        <div class="item">工分：
                            <input type="text" value="" class="u-text" />
                            天</div>
                        <div class="item">金额：
                            <input type="text" value="" class="u-text" />
                            元</div>
                    </div>
                </li>
                <li>
                    <div class="head">
                        <div class="item">
                            <input type="checkbox" class="u-checkbox" value="" />
                            <label class="u-label-checkbox">木工：张三</label>
                        </div>
                    </div>
                    <div class="body">
                        <div class="item">工分：
                            <input type="text" value="" class="u-text" />
                            天</div>
                        <div class="item">金额：
                            <input type="text" value="" class="u-text" />
                            元</div>
                    </div>
                </li>
                <li>
                    <div class="head">
                        <div class="item">
                            <input type="checkbox" class="u-checkbox" value="" />
                            <label class="u-label-checkbox">木工：张三</label>
                        </div>
                    </div>
                    <div class="body">
                        <div class="item">工分：
                            <input type="text" value="" class="u-text" />
                            天</div>
                        <div class="item">金额：
                            <input type="text" value="" class="u-text" />
                            元</div>
                    </div>
                </li>
                <li>
                    <div class="head">
                        <div class="item">
                            <input type="checkbox" class="u-checkbox" value="" />
                            <label class="u-label-checkbox">木工：张三</label>
                        </div>
                    </div>
                    <div class="body">
                        <div class="item">工分：
                            <input type="text" value="" class="u-text" />
                            天</div>
                        <div class="item">金额：
                            <input type="text" value="" class="u-text" />
                            元</div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="m-page f-cf"> <a href="#" class="prev">上一页</a> <a href="#" >1</a> <a href="#" class="z-active">2</a> <a href="#">3</a> <a href="#">4</a> <a href="#">5</a> <a href="#" class="next">下一页</a> </div>
    </div>
</div>
</body>
</html>
